.section{
	margin: 10% 0px 0px 0px;
	position: relative;
	margin-left: 5rem;
	
}

.section > img{
	width:22%;
	margin-bottom: 1rem;
	margin-left: 1rem;
	border: 1px solid #f3f2f2;
}

img:hover{
	cursor:pointer;
	transform: scale(1.2);
	box-sizing: border-box;
	transition: 5s ease;
	box-shadow: 2px 2px 8px 8px #f0efef ;
}

.content{
        border: 1px solid #bdbdbd;
        /*height: 20rem;*/
        display: none;
        width: 60%;
        margin-left: 20%;
        padding-left: 10px;
        padding: 1rem;
        margin-bottom: 2rem;
}

.content-display{
        display:block;
        cursor: pointer;
        margin-top: 20px;
        box-shadow: 2px 2px 8px 8px #d3d3d3 ;
}