<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMDB Search app</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TMDB</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="/tv-shows-airing-today">Airing today</a>
              <a class="nav-link" href="/tv-shows-presently-on-air">Presently on air</a>
              <a class="nav-link" href="/popular-tv-shows">Popular tv shows</a>
            </div>
          </div>
        </div>
      </nav>



    <div class="card bg-dark text-white">
        <img src="/images/bg.jpg" class="card-img" style="height: 30rem;" alt="...">
        <div class="card-img-overlay">
            <section style="height: 12rem;"><!--empty--></section>
          <h1 class="card-title">Welcome</h1>
          <h3 class="card-text">Millions of movies and TV shows</h3>
        </div>
    </div>
<div class="container">
    <hr>

      <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-3">
            <div class="col-md-4"> 
                <img src="/images/img-1.jpg" class="img-fluid rounded-start" style="height: 25rem;" alt="...">
            </div>
                <div class="col-md-8">
                        <div class="card-body">
                            <section style="height: 10rem;"><!--empty--></section>   
                            <h3 class="card-title">What's airing today ?</h3>
                            <p class="card-text">Click on the button belo to view TV show airing</p>
                            <a href="/tv-shows-airing-today" class="btn btn-primary">Airing Today</a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    
                </div>
                
        </div>
    </div>

    <hr>

    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <section style="height: 10rem;"><!--empty--></section>   
                            <h3 class="card-title">What's airing today ?</h3>
                            <p class="card-text">Click on the button belo to view TV show airing</p>
                            <a href="/tv-shows-presently-on-air" class="btn btn-primary">Presently on air</a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <img src="/images/img-2.jpg" class="img-fluid rounded-start" style="height: 25rem;" alt="...">
                    </div> 
        </div>
    </div> 

    <hr>

    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-3">
            <div class="col-md-4"> 
                <img src="/images/img-3.jpg" class="img-fluid rounded-start" style="height: 25rem;" alt="...">
            </div>
                <div class="col-md-8">
                        <div class="card-body">
                            <section style="height: 10rem;"><!--empty--></section>   
                            <h3 class="card-title">What's Popular today ?</h3>
                            <p class="card-text">Click on the button belo to view TV show airing</p>
                            <a href="/popular-tv-shows" class="btn btn-primary">Popular Tv shows</a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    
                </div>
                
        </div>
    </div>

</div>     
    
        <script src="/js/boo" async defer></script>
</body>
</html>